.btn-full-profile-close {
  background: none;
  border: none;
  color: #8f8f8f;
  cursor: pointer;
  z-index: 999;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 3rem;
}

.full-profile-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.profile-picture {
  width: 12rem;
  height: 14rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.profile-content {
  width: 100%;
  color: #dedede;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.age-gender {
  margin: 0;
  font-weight: 500;
}

.profile-attributes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sayings-container {
  text-align: center;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  box-sizing: border-box;
}

.sayings-list {
  text-align: initial;
}

.sayings-list > li {
  margin-bottom: 0.5rem;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .profile-attributes-container {
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .sayings-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .sayings-list > li {
    padding-right: 1rem;
  }
  
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
