.app-title {
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.character-card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1rem;
  gap: 1rem;
}
